apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: model-service
  template:
    metadata:
      labels:
        app: model-service
    spec:
      containers:
        - name: model-service
          image: model-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: MODEL_PATH
              value: /data/model.pkl
          volumeMounts:
            - mountPath: /data
              name: model-storage

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5

      volumes:
        - name: model-storage
          persistentVolumeClaim:
            claimName: model-pvc